*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

[class*=grid]{margin:0;}

img {max-width:100%;}

/*********************************************** UTILITY CLASSES **********************************************************/

.padded     {padding:5%;}
.padded-1   {padding:1rem;}
.padded-b-0 {padding-bottom:0;}
.padded-b-1 {padding-bottom:1rem;}


.margin-1    {margin:1rem;}
.margin-b-0  {margin-bottom:0;}
.margin-b-1  {margin-bottom:1rem;}

.bg-light{
    background-color:#F8F6F4;
    color:rgb(31, 31, 31);
}

.bg-dark{background-color:#018ca2;}

.featured-text  {color:#f59186;}
.light-text     {font-weight:200;}
.italic         {font-style: italic;}
.small-text     {font-size:0.6rem;}

.left       {text-align:left;}
.center     {text-align:center;}
.right      {text-align:right;}

.lowercase  {text-transform:lowercase;}
.uppercase  {text-transform: uppercase;}


/*********************************************** TYPOGRAPHY STYLES **********************************************************/
body    {font-family:'Baskervville', serif;}

h1{
    font-size:11vw;
    }

h2, h3{
    font-size:2.5rem;
    letter-spacing:3px;
}

p{
    margin-bottom:1rem;
    line-height:1.5;
}

footer p{
    margin-bottom:0;
}


li{
    line-height:2;
}


/*********************************************** BACK GROUNDS AND IMAGES **********************************************************/
.bg-image{
    background-image:url('/images/leaves-light.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-color:pink;
}

.tall-50    {min-height:50vh;}
.tall-60    {min-height:60vh;}
.tall-70    {min-height:70vh;}
.tall-80    {min-height:80vh;}
.tall-90    {min-height:90vh;}
.tall-100   {min-height:100vh;}

.header-image{background-image:url('/images/stone.png')}


.bg-breathe{
    
    background-image:url('/images/zen-studio-1.jpg');
    background-position:50% 40%;}

.bg-map{
    background-image:url('/images/light-colored-map.png');
}


.teardrop{
    border-radius: 20rem;
    border-bottom-right-radius:0;
}

.window{
    border-top-right-radius:20rem;
    border-top-left-radius:20rem;
}

/*********************************************** NAV STYLES AND LINKS**********************************************************/

.button{
    color:inherit;
    border:1px solid #f59186;
    border-radius:40px;
    display:inline-block;
    padding:1% 2%;
    text-decoration:none;
}

.button:hover{
    color: #f59186;
    border: 1px solid black;
}


a {
    color: #f59186;
    text-decoration:none;
    display:inline-block;
}



/*********************************************** MEDIA QUERIES **********************************************************/